<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Spring Framework Guru</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
<link th:href="@{/css/lang/languages.min.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/application.css}" rel="stylesheet" media="screen" />
</head>
<body>
  <div class="container">
    <div class="row centered">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <ul class="nav navbar-nav">
              <li><a th:href="@{''(lang=en)}">
                  <span class="lang-xs lang-lbl small" lang="en"></span>
                </a></li>
              <li><a th:href="@{''(lang=ru)}">
                  <span class="lang-xs lang-lbl small" lang="ru"></span>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row centered">
      <div class="col-md-6 col-md-offset-3">
        <!--
            The form registering new subscribers 
         -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 th:text="#{enqueue.title}" class="panel-title"></h3>
          </div>
          <div class="panel-body">
            <form th:action="@{/enqueue}" th:object="${subscriber}" th:method="post" role="form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group required" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error' : ''">
                    <label th:text="#{enqueue.firstName.label}" for="firstName" class="control-label small"></label>
                    <input th:field="*{firstName}" th:required="true" th:placeholder="#{enqueue.firstName.hint}"
                      type="text" class="form-control input-sm" />
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="help-block small"></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group required" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error' : ''">
                    <label th:text="#{enqueue.lastName.label}" for="lastName" class="control-label small"></label>
                    <input th:field="*{lastName}" th:required="true" th:placeholder="#{enqueue.lastName.hint}"
                      type="text" class="form-control input-sm" />
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="help-block small"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
                    <label th:text="#{enqueue.email.label}" for="email" class="control-label small"></label>
                    <input th:field="*{email}" th:placeholder="#{enqueue.email.hint}" type="email"
                      class="form-control input-sm" />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block small"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group required"
                    th:classappend="${#fields.hasErrors('workPhone') || #fields.hasGlobalErrors()} ? 'has-error' : ''">
                    <label th:text="#{enqueue.workPhone.label}" for="workPhone" class="control-label small"></label>
                    <input th:field="*{workPhone}" th:placeholder="#{enqueue.workPhone.hint}" required="required"
                      type="tel" class="form-control input-sm" />
                    <span th:if="${#fields.hasErrors('workPhone')}" th:errors="*{workPhone}" class="help-block small"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"
                    th:classappend="${#fields.hasErrors('mobilePhone') || #fields.hasGlobalErrors()} ? 'has-error' : ''">
                    <label th:text="#{enqueue.mobilePhone.label}" for="mobilePhone" class="control-label small"></label>
                    <input th:field="*{mobilePhone}" th:placeholder="#{enqueue.mobilePhone.hint}" type="tel"
                      class="form-control input-sm" />
                    <span th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}"
                      class="help-block small"></span>
                  </div>
                </div>
              </div>
              <div th:if="${#fields.hasGlobalErrors()}" class="row">
                <div class="col-md-12">
                  <div class="form-group has-error">
                    <span th:errors="*{global}" class="help-block small"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label large" for="submit"></label>
                    <button th:text="#{enqueue.submit.label}" id="submit" type="submit"
                      class="btn btn-primary btn-sm btn-block"></button>
                  </div>
                </div>
                <div class="col-md-3 col-md-offset-6">
                  <div class="form-group">
                    <label class="control-label large" for="reset"></label>
                    <button th:text="#{enqueue.reset.label}" id="reset" type="reset"
                      class="btn btn-default btn-sm btn-block"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--
            The list of enqueued subscriber records 
         -->
        <div th:if="${!queue.isEmpty()}" class="panel panel-default">
          <div class="panel-heading">
            <h3 th:text="#{commit.title(${queue.size()})}" class="panel-title"></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-condensed small">
                  <thead>
                    <tr>
                      <th th:text="#{commit.table.ordinal}"></th>
                      <th th:text="#{commit.table.name}"></th>
                      <th th:text="#{commit.table.contacts}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="record,iter : ${queue}">
                      <td th:text="${iter.count}"></td>
                      <td>
                        <span th:text="${record.firstName}"></span>
                        <span th:text="${record.lastName}"></span>
                      </td>
                      <td>
                        <span th:text="${record.workPhone}"></span>
                        <span th:text="${record.mobilePhone}"></span>
                        <br />
                        <a th:href="#{commit.email.label(${record.email})}" th:text="${record.email}"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <form th:action="@{/commit}" th:method="post" role="form">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label large" for="commit"></label>
                    <button th:text="#{commit.submit.label}" id="commit" type="submit"
                      class="btn btn-primary btn-sm btn-block"></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>