body {
	padding-top: 10pt;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar-nav {
	float: right;
}

.navbar-nav>li>a {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

.nav>li>a {
	padding: 5px 5px;
}